body {
  width: 100%;
  text-align: center;
}
p {
  font-size: 20px;
}
span {
  color: red;
  font-style: italic;
}


#header {
  height: 7vh;
}
#center-out {
  padding-left: 0px;
  padding-right: 0px;
}
#home-page {
  margin-top: 10px;
}


.datePos {
  color: rgb(189, 93, 93);
  font-size: 13px;
}
.tagsPos {
  margin-top: 15px;
}
.tagsPosOut {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.justify {
  text-align: justify;
}
.postOnWall {
  font-size: 16px;
}
